body{
    background-color: #0f0f0f;
    color: white;

    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    margin: 0;
}

.container{
    display: flex;
    gap: 30px;

    width: 900px;
}

.container-1,
.container-2{
    flex: 1;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-left: 5px solid #695D9C;
    font-size: 22px;
    line-height: 1.8;
}

.container-1 h2,
.container-2 h2{
    margin-top: 0;
    margin-bottom: 20px;

    color: #695D9C;
}

.container-1 div,
.container-2 div{
    margin-bottom: 12px;
    font-weight: bold;
}

.correct{
    color: #478c49;
}

.incorrect{
    color: #a4534d;
}

button{
    width:100px;
    height:50px;

    border:none;
    border-radius:12px;

    background:#695D9C;
    color:white;

    font-size:18px;

    cursor: pointer;

    transition: 0.5s;
}

button:hover{
    background-color: aliceblue;
    color: #121212;
}

.back-button{
    position: fixed;
    top: 20px;
    left: 20px;
}