<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='home_style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!--for Hamburger menu button-->
</head>
<body>
    <div class="container">
        <!--Side bar-->
        <button class="side-button" onclick="sideBarToggle()">
            <i class="fa-solid fa-bars"></i>  <!--Custom hamburger menu button-->
        </button>

        <div id="sidebar" class="sidebar">
            <a href="/statistics"><button class="level-button">Statistics</button></a>
        </div>

        <!--Title-->
        <div class="title">
            <h1>KanjiDeck</h1>
        </div>

        <!--Select JLPT Levels-->
        <div class="levels">
            <a href="/review/N5"><button class="level-button">N5</button></a>
            <a href="/review/N4"><button class="level-button">N4</button></a>
            <a href="/review/N3"><button class="level-button">N3</button></a>
            <a href="/review/N2"><button class="level-button">N2</button></a>
            <a href="/review/N1"><button class="level-button">N1</button></a>
        </div>
    </div>

    <!--Scripts-->
    <script>
        const sidebar=document.getElementById("sidebar");
        function sideBarToggle(){
            sidebar.classList.toggle("open")
        }
    </script>
</body>
</html>