<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login_style.css')}}">
</head>
<body>
    <!--Back button-->
    <div class="back-button">
        <a href="/"><button>Back</button></a>
    </div>

    <div class="container">
        <h1>KanjiDeck - Login</h1> <!--Heading-->

        <form action="/login" method="POST">
            <label>Username</label>
            <input type="text" name="username" required> <!--username-->

            <label>Password</label>
            <input type="password" name="password" required> <!--password-->

            {% if error %}
                <div class="error"> <!--display error if any-->
                    {{error}}
                </div>
            {% endif %}

            <button type="submit">Login</button> <!--Login button-->
        </form>

        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</body>
</html>