<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='register_style.css')}}">
</head>
<body>
    <div class="back-button">
        <a href="/"><button>Back</button></a>
    </div>

    <div class="container">
        <h1>KanjiDeck - Register</h1>

        <form action="/register" method="POST">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <label>Confirm password</label>
            <input type="password" name="confirm-password" required>

            {% if error %}
                <div class="error">
                    {{error}}
                </div>
            {% endif %}

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>