<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="{{url_for('static', filename='review_style.css')}}">
</head>
<body>
    <!--Card-->
    <div class="card">
        <div class="level-badge">{{level}}</div> <!--Level badge-->

        <a href="/" class="home">Home</a> <!--Home button-->

        <div id="original">{{original}}</div> <!--Original-->

        <div id="furigana"></div> <!--Furigana-->
        <div id="english"></div> <!--English-->

        <button onclick="showAnswer()" id="show-answer-button" class="flashcard-buttons">Show answer</button> <!--Show answer button-->

        <!--Correct/incorrect-->
        <div id="review-buttons" style="display: none;">
            <form action="/correct" method="POST">
                <input type="hidden" name="card_id" value="{{id}}">
                <input type="hidden" name="level" value="{{level}}">
                <button class="flashcard-buttons">Correct</button> <!--Correct button-->
            </form>

            <form action="/incorrect" method="POST">
                <input type="hidden" name="card_id" value="{{id}}">
                <input type="hidden" name="level" value="{{level}}">
                <button class="flashcard-buttons">Incorrect</button> <!--Incorrect button-->
            </form>
        </div>
    </div>

    <!--Script-->
    <script>
        function showAnswer(){
            document.getElementById("furigana").innerHTML="{{furigana}}";
            document.getElementById("english").innerHTML="{{english}}";
            document.getElementById("show-answer-button").style.display="none";
            document.getElementById("review-buttons").style.display="block";
        }
    </script>
</body>
</html>