<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="{{url_for('static', filename='statistics_style.css')}}">
</head>
<body>
    <div class="back-button">
        <a href="/"><button>Back</button></a>
    </div>
    
    <div class="container">
        <!--Overall stats-->
        <div class="container-1">
            <h2>Overall Statistics</h2>

            <div>Total Reviews: {{total}}</div>

            <div class="correct">
                Correct: {{correct}} ({{correct_percentage}}%)
            </div>

            <div class="incorrect">
                Incorrect: {{incorrect}} ({{incorrect_percentage}}%)
            </div>
        </div>

        <!--Level wise stats-->
        <div class="container-2">
            <h2>JLPT Levels</h2>

            <div>N5: {{n5}}</div>
            <div>N4: {{n4}}</div>
            <div>N3: {{n3}}</div>
            <div>N2: {{n2}}</div>
            <div>N1: {{n1}}</div>
        </div>
    </div>
</body>
</html>